body {
  background-color: #303030 !important;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.card-task {
  width: 35em;
  background-color: #212529;
  color: white;
}

.cards-list>*:not(:last-child) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.cards-list>*:not(:first-child) {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

/* SPINNER */
.cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  /* display: none; */
}

@-webkit-keyframes spin {
  from {
      -webkit-transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-color: #ffffff;
  border-top-color: transparent;
  border-width: 8.5px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}